@use '../../utils' as *;

.sec-gallery {
    padding-top: clamp(40px,9vw,102px);
    padding-bottom: clamp(60px,12vw,149px);
    .bg-elem {
		position: relative;
		&::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -10%;
            right: -15%;
            margin: 0 auto;
            z-index: -1;
            width: 100%;
            max-width: 300px;
            height: 300px;
            background: #cc9900;
            border-radius: 50%;
            opacity: 0.4;
            filter: blur(70px);
		}
    }
    .head-area {
        h4{
            @include xlHeading(unset,$black-clr,12px);
        }
        h6 {
            @include rgHeading(clamp(22px,2.5vw,32px),unset,normal,0)
        }
        p {
            @include paraTwo(0,$lt-grey-clr,unset)
        }
    }
}